 *{
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .carousel-inner img {
            height: 80vh;

            object-fit: cover;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
            border-radius: 50%;
            background-size: 50%, 50%;
        }
        .n-anchor{
            text-decoration: none;
            color: white;
            font-size: 300;
        }